$color-gray: #cccccc;
$color-red: #ff0000;
$color-black: #000000;
$color-gray-333: #333333;
$color-white: #ffffff;
$color-red: #e50000;
$color-cornflowerblue: #6495ED;
$color-darkorange: #FF8C00;
$color-chocolate: #D2691E;
$color-brown: #A52A2A;
