$color-gray: #cccccc;
$color-red: #ff0000;
$color-black: #000000;
$color-gray-333: #333333;
$color-white: #ffffff;
$color-red: #e50000;
$color-cornflowerblue: #6495ED;
$color-darkorange: #FF8C00;
$color-chocolate: #D2691E;
$color-brown: #A52A2A;
$color-dark-darkmagenta: #8B008B;
$color-dark-green: #006400;
$color-forestgreen: #228B22;
$color-dark-blue: #00008B;
$color-aliceblue: #F0F8FF;
$color-gray-eee: #eeeeee;
$color-crimson: #DC143C;
$color-blueviolet: #8A2BE2;
$color-royalblue: #4169E1;
$color-cyan: #00FFFF;
$color-dark-blue: #00008B;
$color-green: #008000;
