.react-app {
	background: $color-white;

	.component-padding {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.content {
		margin-top: 20px;

		p {
			cursor: pointer;
			font-family: $font-open-sans;
			font-size: 14px;
			line-height: 2;
			padding: 10px 0;
		}
	}

	h1 {
		font-family: $font-open-sans;

		@media all and (max-width: 767px) {
			font-size: 16px;
		}
	}

	h2 {
		font-size: 24px;
		display: inline-block;
		color:  $color-gray-333;
		font-family: $font-open-sans;

		@media all and (max-width: 767px) {
			font-size: 14px;
		}
	}

	.nav {
		min-height: 400px;

		ul {
			margin-top: 20px;
			li {
				cursor: pointer;
				font-family: $font-open-sans;
				font-size: 14px;
				line-height: 1.2;
				padding: 10px 0;

				&:hover,
				&.current,
				&:focus {
					color: $color-navy;
					text-decoration: underline;
				}
			}
		}
	}

	.content-panel {
		min-height: 400px;
	}

	.footer {
		text-align: center;

		a {
			display: inline-block;
			margin: 0 10px;
			font-family: $font-open-sans;
			font-size: 12px;
		}
	}

	&.react-app-flux {
		background: $color-gray-333;

		.container {
			background: $color-white;
			margin-top: 20px;
		}

		.header {
			box-shadow: 0 0 2px $color-black;
		}

		.navigation {
			background: #369;
			color: $color-white;
		}

		h2 {
			color: $color-white;
		}

		.nav {

			ul {
				li {
					&:hover,
					&:focus,
					&.current {
						color: $color-white;
						text-decoration: underline;
					}
				}
			}
		}

		.footer {
			background: $color-gray-333;
			color: $color-white;

			a {
				color: $color-white;
			}
		}
	}
}
