.main-app {
	.logo-icon {
			@include box-shadow();
			border-radius: 80px;
			cursor: pointer;
			color: $color-white;
			font-size: 50px;
			height: 80px;
			left: 30px;
			position: absolute;
			padding-top: 15px;
			top: 30px;
			text-shadow: 0 0 2px $color-black;
			width: 80px;
	}

	.site-logo {
		color: $color-gray-eee;
		font-size: 100px;
		text-transform: lowercase;
		text-shadow: 2px 0 2px $color-black;

		&:hover,
		&:focus {
			color: $color-white;
			text-decoration: none;
		}

		.logo-dot {
			display: inline-block;
			margin-left: -25px;
		}

		.logo-in {
			display: inline-block;
			margin-left: -30px;
		}
	}

	.site-header {
		background: $color-cornflowerblue;
		box-shadow:  1px 1px 1px $color-gray;
		margin-top: -20px;
		padding-top: 20px;
		padding-bottom: 20px;
		position: relative;
		text-align: center;
	}
}
