.main-app {
	.logo-icon {
			background: $color-gray-eee;
			box-shadow: 5px 5px 0 $color-red,
									10px 10px 0 $color-brown,
									15px 15px 0 $color-darkorange,
									20px 20px 0 $color-chocolate,
									5px 5px 0 $color-red inset,
									10px 10px 0 $color-brown inset,
									15px 15px 0 $color-darkorange inset,
									20px 20px 0 $color-chocolate inset;
			border-radius: 80px;
			height: 80px;
			left: 30px;
			position: absolute;
			top: 30px;
			width: 80px;
	}

	.site-logo {
		color: $color-gray-eee;
		font-size: 100px;
		text-transform: lowercase;
		text-shadow: 2px 0 2px $color-black;

		&:hover,
		&:focus {
			color: $color-white;
			text-decoration: none;
		}

		.logo-dot {
			display: inline-block;
			margin-left: -25px;
		}

		.logo-in {
			display: inline-block;
			margin-left: -30px;
		}
	}

	.site-header {
		background: $color-cornflowerblue;
		box-shadow:  1px 1px 1px $color-gray;
		margin-top: -20px;
		padding-top: 20px;
		padding-bottom: 20px;
		position: relative;
		text-align: center;
	}
}
