.site-nav {
	border-right: 1px solid $color-gray;
	min-height: 700px;
	padding-top: 20px;
	padding-bottom: 20px;

	ul {
		padding-left: 30px;

		li {
			margin-top: 20px;
			padding-left: 30px;
			position: relative;

			&:before {
					background: $color-white;
					box-shadow: 2px 2px 2px $color-black;
					content: "";
					height: 30px;
					left: -20px;
					position: absolute;
					top: 0;
					width: 30px;
			}

			&:nth-child(odd) {
				&:before {
					background: $color-gray;
				}
			}

			a {
				color: $color-black;
				font-family: $font-open-sans;
				font-size: 16px;
				font-weight: bold;
				line-height: 2;
			}
		}
	}
}

.splash {
	color: $color-white;
	font-size: 100px;
	text-transform: lowercase;
	text-shadow: 2px 0 2px $color-black;
}

.site-footer {
	background: $color-gray;
	padding: 20px 0;
	text-align: center;

	small {
		color: $color-black;
		font-size: 20px;
	}
}
