$color-green: #4CAF50;
$color-green-light: #4CDF00;
.html-5 {
    background: $color-white;

    .app-container {
      margin-top: 20px;
    }

    .color-container {
      h1 {
        margin-left: -15px;
      }

      .color-row {
        margin-top: 40px;
      }
    }

    canvas {
      cursor: pointer;
    }

    .color {
        height: 40px;
    }

    .green {
      background: $color-green;
    }

    .green-light {
      background: $color-green-light;
    }

    p {
      font-size: 12px;
      margin-top: 10px;
    }

    .rect-container {
      margin-top: 20px;

      p,
      canvas {
        margin-left: -15px;
      }

      canvas {
        margin-top: 10px;
      }
    }
}
